

.box .center{
    width:871px;
    height:auto;
    margin:45px auto 350px;
    /* border:1px solid #ffeeee; */

}
.box .center .text{
    width:871px;
    height:45px;
    border-bottom:1px solid rgba(127,74,136,0.7);
}
.box .center .text span{
    line-height:45px;
    margin-right:5px;
    font-size:16px;
}
/* 用户信息框 */
.box .center .info{
    width: 871px;
    height:489px;
    border:1px solid rgba(0,0,0,0.1);
    margin:27px auto 377px;
    border-radius:15px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12), 0 0 6px 0 rgba(0,0,0,0.05);

}
/* 中间的个人信息框 */
.box .center .info p{
    margin-top:35px;
    margin-left:63px;
    font-size:14px;
}

/* 性别的框框 */
.box .center .info .sex{
    margin-left:17px;
}
/* 除了性别与头像,其他的框框 */
.box .center .info .size1,
.box .center .info select{
    text-indent:13px;
    height:36px;
    width:220px;
    border:1px solid rgba(22,26,29,0.2);
    border-radius:4px;
    margin-left:17px;
}

/* 下拉列表 */
.box .center .info select{
    margin-left:12px;
}    

/* 头像框 */
/* 头像两字 */
.p_ib{
    display:inline-block;
    margin-right:17px;
    vertical-align: 17px;
}
.box .center .info #lab_img {
    position: relative;
    display: inline-block;
    width:50px;
    height:50px;
    margin-top:27px;
    /* border:1px solid #123; */
    
}
.box .center .info .pic {
    position: absolute;
    left:-99999px;
}
#div_img{
    width:50px;
    height:50px;
    border-radius:50%;  
    background: rgba(0,0,0, 0.35);

}
 #div_img img{
    width:50px;
    height:50px;
    border-radius:50%;  
}
.box .center .info span {
    position:absolute;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    line-height: 50px;
    color:rgba(255,255,255,0.5);
    font-size:12px;
    /* background:#fee; */
                        
}


/* 底部 */
.bottom{
    border-top:1px solid #111;
    width: auto;
    height:60px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height:60px;
    text-align: center;
}